@import './steps/step1';
@import './steps/step2';
@import './steps/step3';
@import './steps/step4';
@import './steps/step5';

// LAYOUTS
#Sub-form {
    display: flex;
    flex-direction: column;
    height: 100vh;
    position: relative;
    
    .steps-ariane {
        position: relative;
        display: flex;
        padding: 2.5rem 1rem 1rem;
        margin: 0 auto;
        justify-content: center;
        gap: 1.25rem;
        z-index: 100;

        &::after {
            content: '';
            width: 100vw;
            height: 20vh;
            position: absolute;
            top: 0;
            background-image: url('./assets/images/bg-sidebar-mobile.svg');
            z-index: -1;
        }

        .step {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 2rem;
            height: 2rem;
            border-radius: 50%;
            border: 1px solid $White;

            &.active {
                background-color: $Light-blue;
                border: 1px solid transparent;
            }

            &.inactive {
                color: $White;
            }
        }
    }

    .step-card {
        position: relative;
        display: flex;
        flex-direction: column;
        background-color: $White;
        margin: 1rem;
        padding: 2rem 1rem;
        border-radius: .5rem;
        box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .1);
        gap: 1.5rem;
        z-index: 100;
    }

    .btn-form-nav {
        position: absolute;
        bottom: 0;
        right: 0;
        left: 0;
        background-color: $White;
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding: 1rem;
        
        .btn {
            display: block;
            width: fit-content;
            margin: 0;
            padding: .75rem 1.25rem;
            border-radius: .25rem;
            text-decoration: none;
            font-weight: 400;
        }

        .start {
            justify-self: flex-start;
            color: $Cool-gray;
        }

        .end, .center {
            background-color: $Marine-blue;
            color: $White;
        }

        .end {
            justify-self: flex-end;
            grid-column: 2/3;

            &.confirm {
                background-color: $Purplish-blue;
            }
        }

        .center {
            grid-column: 1/3;
            margin: auto;
        }
    }
}

@media only screen and (min-width: 768px) {
    #Sub-form {
        background-color: $White;
        width: 860px;
        height: 500px;
        border-radius: 1rem;
        display: grid;
        grid-template-columns: 25% 65%;
        grid-template-rows: repeat(2, 1fr);
        grid-column-gap: 70px;
        grid-row-gap: 0px;
        padding: 1rem;      

        .steps-ariane {
            flex-direction: column;
            justify-content: flex-start;
            width: 100%;
            margin: 0;
            grid-area: 1 / 1 / 3 / 2;

            &::after {
                left: 0;
                width: 100%;
                height: 100%;
                object-fit: contain;
                background-image: url('./assets/images/bg-sidebar-desktop.svg');
                background-size: cover;
                background-repeat: no-repeat;
                border-radius: 1rem
            }
        }

        .step-card {
            width: 100%;
            justify-self: center;
            margin: 0;
            background-color: transparent;
            box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0);
            grid-area: 1 / 2 / 2 / 3;

        }

        .btn-form-nav{
            justify-self: center;
            margin: 0;
            padding: 1rem 0;
            background-color: transparent;
            grid-area: 2 / 2 / 3 / 3;
        }
    }
}
