//SubForm
//Step 2
#Sub-form {
    .step-card {
        .plan-container {
            display: flex;
            flex-direction: column;
            gap: .75rem;
    
            .plan-card {
                display: flex;
                padding: 1.5rem 1rem;
                border-radius: .75rem;
                gap: 1rem;
                border: 1px solid $Light-gray;
    
                &.active {
                    background-color: $Magnolia;
                    border: 1px solid $Purplish-blue;
                }
    
                .arcade, .advanced, .pro {
                    width: 2.5rem;
                    height: 2.5rem;
                    background-repeat: no-repeat;
                }
    
                .arcade {
                    background-image: url('./assets/images/icon-arcade.svg');
                }
    
                .advanced {
                    background-image: url('./assets/images/icon-advanced.svg');
                }
    
                .pro {
                    background-image: url('./assets/images/icon-pro.svg');
                }
    
                .plan-bill {
                    display: flex;
                    flex-direction: column;
                    gap: .25rem;
                    transition: all .1s ease-in-out;
    
                    .bill-title {
                        font-size: 1rem;
                        font-weight: 500;
                        color: $Marine-blue;
                    }
    
                    .bill-price {
                        font-size: .85rem;
                        color: $Cool-gray;
                    }

                    .bill-promo {
                        font-size: .75rem;
                        color: $Marine-blue;
                        font-weight: 500;
                    }
                }
    
            }

        }

        .bill-option {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 1rem;
            background-color: $Alabaster;
            padding: 1rem; 
            border-radius: .5rem;
            color: $Cool-gray;

            .select {
                color: $Marine-blue;
                font-weight: 500;
                transition: all .1s ease-in-out;
            }

            @include checkbox;
        }
    }
}

@media only screen and (min-width: 768px) {
    #Sub-form {
        .step-card {

            .plan-container {
                flex-direction: row;
                justify-content: center;

                .plan-card {
                    width: 30%;
                    flex-direction: column;

                }
            }
        }
    }
}
