//SubForm
//Step 3
#Sub-form {
    .step-card {
        .addons {
            display: flex;
            flex-direction: column;
            gap: .75rem;
    
            .addons-card {
                display: flex;
                border-radius: .75rem;
                gap: 1rem;
                border: 1px solid $Light-gray;
                padding: 1rem;

                &:hover {
                    border: 1px solid $Purplish-blue;
                }
    
                &.active {
                    background-color: $Magnolia;
                    border: 1px solid $Purplish-blue;
                }

                .addons-plan {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    width: 100%;
                    gap : .25rem;
                    
                    .addon {
                        display: flex;
                        flex-direction: column;
                        gap: .5rem;
                        
                        .addon-title {
                            font-size: 1rem;
                            font-weight: 500;
                            color: $Marine-blue;
                        }
                        .addon-details {
                            font-size: .8rem;
                            color: $Cool-gray;
                        }
                    }
    
                    .addon-price {
                        font-size: .75rem;
                        color: $Purplish-blue;
                    }
                }
    
            }
        }

        .bill-option {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 1rem;
            background-color: $Alabaster;
            padding: 1rem; 
            border-radius: .5rem;
            color: $Cool-gray;

            .select {
                color: $Marine-blue;
                font-weight: 500;
                transition: all .1s ease-in-out;
            }

            @include checkbox;
        }
    }
}
