//SubForm
//Step 1
#Sub-form {
    .step-card {
        .info {
            display: flex;
            flex-direction: column;
            gap: .5rem;
            width: 100%;

            .label, .input {
                font-weight: 500;
            }

            .label {
                font-size: .85rem;
                color: $Marine-blue;
            }

            
            .input {
                color: $Marine-blue;
                border: 1px solid $Light-gray;
                border-radius: .25rem;
                padding: .75rem;
                margin-bottom: .5rem;
                cursor: pointer;
            }

            input:focus {
                border: 1px solid $Purplish-blue;
            }

            input:invalid {
                border: 1px solid $Strawberry-red;
            }


        }
    }    
}
