@import './utils/reset';
@import './utils/variables';
@import './utils/mixin';

@import './pages/subscribe/subscribeform.scss';

#App {
    background-color: $Magnolia;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}